.contentBlock {
  background-color: #0077b6;
  display: grid;
  gap: 2rem;
  height: 100%;
  padding: 6.25rem 0;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.contentBlock::after {
  background: linear-gradient(90deg, rgba(0, 119, 182, .25) 0%, rgba(241, 250, 255, .25) 100%);
  border-radius: 100%;
  content: "";
  height: 80%;
  position: absolute;
  right: -25%;
  top: 0;
  transform: rotate(45deg);
  width: 65%;
  z-index: 0;
}

.contentTitle {
  color: #f1faff;
  font-size: 3.25rem;
  text-align: left;
  margin-bottom: 1rem;
}

.coverPage {
  align-items: flex-end;
  display: flex;
  gap: 2rem;
  position: relative;
  z-index: 1;
}

.contentParagraph {
  display: grid;
  font-size: 1.25rem;
  gap: 1rem;
  text-align: left;
  width: 100%;
}

.content {
  display: grid;
  gap: 2rem;
}

.surfer {
  position: absolute;
  right: -30%;
  bottom: -13%;

}

.surfer img {
  width: 250px;
  max-width: 100%;
  object-fit: contain;
  transform: rotate(15deg);
}

p {
  font-family: 'roboto';
  font-weight: 300;
  color: #f1faff;
}

@media (min-width: 768px) {
  .contentParagraph {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .contentBlock {
    height: 100vh;
  }

  .contentTitle {
    font-size: 4rem;
  }
}