.newsletter {
  background-color: #0077B6;
  padding: 4rem 0 8rem;
  position: relative;
}

@media (min-width: 768px) {
  .newsletter {
    padding: 6.25rem 0 12.5rem;
  }
}

.title {
  color: #F1FAFF;
  font-size: 1.75rem;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem;
}


.whaletale {
  align-items: center;
  bottom: 0px;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  left: 0;
  position: absolute;
  right: 0;

}

.whaletale img {
  width: 22.5rem;
  max-width: 100%;
}