.newsletter {
  background-color: #0077B6;
  padding: 6.25rem 0 12.5rem;
  position: relative;
}

.title {
  color: #F1FAFF;
  font-size: 2.5rem;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.socials ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
}

.socialLinks {
  align-items: center;
  border-radius: 2rem;
  color: #F1FAFF;
  display: flex;
  font-size: 2rem;
  height: 50px;
  justify-content: center;
  text-decoration: none;
  transition: all .3s ease-in-out;
  width: 50px;
}

.socialLinks:hover {
  color: #0077B6;
  background-color: #F1FAFF;
}

.navigation {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.navigation a {
  color: #F1FAFF;
  font-family: 'roboto';
  font-size: .875rem;
  font-weight: 300;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.whaletale {
  align-items: center;
  bottom: 0px;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  left: 0;
  position: absolute;
  right: 0;

}

.whaletale img {
  width: 22.5rem;
  max-width: 100%;
}