.newsletter {
  background-color: #0077B6;
  padding: 6.25rem 0 12.5rem;
  position: relative;
}

.title {
  color: #F1FAFF;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whaletale {
  align-items: center;
  bottom: -42px;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  left: 0;
  position: absolute;
  right: 0;

}

.whaletale img {
  width: 25rem;
  max-width: 100%;
}