.card {
  background-color: #fff;
  border: .0625rem solid #eeeeee;
  border-radius: 2rem;
  display: grid;
  gap: 1rem;
  min-height: 12rem;
  padding: 1rem;
}

.header {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.title {
  color: #0077B6;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  text-align: left;
  width: 80%;
  word-break: break-word;
}

.rating {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  color: #FFD250;
  font-family: 'roboto';
}

.rate {
  font-size: 1rem;
}

.star {
  font-size: 1.25rem;
}

.description {
  color: #0077B6;
  font-size: 1rem;
  text-align: center;
}

.details {
  align-items: center;
  color: #00B4D8;
  display: flex;
  font-size: .75rem;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    gap: 2rem;
  }

  .title {
    word-break: normal;
  }
}