---

---

<footer>
  <div class='container'>
    <div class='footer-content'>
      <div class='footer-copy'>
        <p>© 2025 Pacific Wave Hostal & Surf. Todos los derechos reservados.</p>
      </div>
      <div class='auth'>
        <p>Desarrollado por 
          <a href="https://juantapias.dev" target="_blank" rel="noopener noreferrer">
            Tapias
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<style>

  footer {
    background-color: transparent;
    font-family: 'roboto';
    margin-top: -22px;
    position: relative;
    z-index: 1;
  }
  .footer-content {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.25rem 0;
  }

  .footer-copy {
    align-items: center;
    display: flex;
  }
  p {
    font-size: 0.75rem;
  }

  .auth a {
    color: #F1FAFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  .auth a:hover {
    text-decoration: underline;
  }


</style>
