---

---

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const header = document.querySelector('header')

    window.addEventListener('scroll', () => {
      if (header) {
        if (window.scrollY > 50) {
          // Cambia después de 50px de scroll
          header.classList.add('scrolled')
        } else {
          header.classList.remove('scrolled')
        }
      }
    })
  })
</script>

<header>
  <nav>
    <div>logo</div>
    <ul class='navigation'>
      <li><a href='#'>Inicio</a></li>
      <li><a href='#'>Nosotros</a></li>
      <li><a href='#'>Hospedaje</a></li>
    </ul>
    <button class='btn-primary'>Reserva</button>
  </nav>
</header>

<style>
  header {
    transition: background 0.3s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  header.scrolled {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
  }

  .navigation {
    align-items: center;
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
    list-style: none;
  }

  .navigation a {
    text-decoration: none;
    color: #0077b6;
  }

  .navigation a:hover {
    color: #00b4d8;
  }
</style>
