.bookingForm {
  align-items: flex-end;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  padding-left: 1rem;
}

.inputCalendar {
  border: 1px solid #0077B6;
  border-radius: 2rem;
  height: 50px;
  width: 320px;
  outline: none;
  padding: 0 1rem;
  transition: border .3s ease-in-out;
}

.submitButton button {
  padding: 1rem;
}