.newsletterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.newsletterGroup {
  position: relative;
}

.inputNewsletter {
  border: 1px solid transparent;
  border-radius: 2rem;
  height: 50px;
  width: 320px;
  outline: none;
  text-indent: 1rem;
  transition: border .3s ease-in-out;
}

.inputNewsletter:focus {
  border: 1px solid #0077B6;
}

.buttonNewsletter {
  background-color: #00B4D8;
  border: .0625rem solid transparent;
  border-radius: 2rem;
  color: #F1FAFF;
  cursor: pointer;
  height: 100%;
  padding: 0.5rem 1.5rem;
  position: absolute;
  right: 0;
  transition: background-color .3s ease-in-out;
  top: 0;
}

.buttonNewsletter:hover {
  border-color: #00B4D8;
  background-color: #F1FAFF;
  color: #00B4D8;
}

.successMessage {
  color: #F1FAFF;
  font-size: .875rem;
  margin-top: .5rem;
}

.errorMessage {
  color: #d50000;
  font-size: .875rem;
  margin-top: .5rem;
}