.rooms {
  margin: 5rem 0;
}

.roomWrap {
  align-items: flex-start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0;
}

.roomGallery {
  width: 100%;
  position: relative;
}

.styleCarousel {
  height: 80vh;
  text-align: center;
}

.customNav {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  left: 2.5%;
  position: absolute;
  right: 2.5%;
  top: 0;
  z-index: 1;
}

.navButton {
  align-items: center;
  background-color: #0077B6;
  border: none;
  border-radius: 100%;
  display: flex;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  height: 40px;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 40px;
}

.navButton:hover {
  background-color: #00B4D8;
}

.roomGalleryItem {
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}

.heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #0077b6;
  font-size: 2rem;
}

.subtitle {
  color: #00B4D8;
  font-size: 1rem;
}

.roomTypes {
  display: flex;
  flex-direction: column;
}

.room {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roomName {
  align-items: center;
  background-color: #F1FAFF;
  border: 0;
  border-bottom: .0625rem solid #0077B6;
  color: #0077B6;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 4.5rem;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

.roomContent {
  overflow: hidden;
}

.roomContent p {
  color: #0077B6;
  margin-bottom: 1rem;
}