---
import Header from '../components/layouts/Header.astro'
import Footer from '../components/layouts/Footer.astro'

import 'swiper/css';
import 'swiper/css/scrollbar';

const primary = '#0077B6'
const secondary = '#00B4D8'
const white = '#F1FAFF'
const black = '#2E2E2E'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global define:vars={{ primary, secondary, white, black }}>
  /* universal reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--white);
  }

  /* container */
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }

  /* buttons */
  .btn-primary {
    background-color: var(--primary);
    border: none;
    border-radius: 2rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-primary:hover {
    background-color: var(--secondary);
  }
</style>
